footer {
    background: var(--color-primary);
    padding: 3rem 0;
    height: auto;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

footer a {
    color: var(--color-bg);

}

.footer__logo {
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
}
.SC{
   margin-left: 17px;
}

.stylize__logo {
    position: absolute;
    /* margin: 10px; */
    transform: rotateX(180deg);
    color: red;
}
.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
        text-align: center;
    gap : 2rem;
}

.footer__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
    
}

.copy__right {
    color: var(--color-bg);
}
@media screen and (max-width: 600px) {
    footer {
        margin-top: 9rem;
    }
    .permalinks {
        flex-direction: column;
        text-align: center;
    }
}