nav {
    background: rgba(0,0,0,0.3);
    left: 50%;
    transform: translateX(-50%);
    width:  max-content;
    padding: 0.7rem 1.7rem;
    position: fixed;
    bottom: 0.8rem;
    display: flex;
    gap: 0.8rem;
    z-index: 2;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    padding: 0.9rem;
    font-size: 20px;
}
nav a.active {
    background: var(--color-primary);
    color : var(--color-bg);
    border-radius: 1em;
}


